@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #f2f6ff;
    animation: fadeIn 1s ease-in-out;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
h1{
    font-family: "Dancing Script";
    font-weight: bold;
    font-size: xx-large;
}

header {
    background: linear-gradient(90deg, #004aad, #0062d9);
    color: white;
    padding: 25px;
    text-align: center;
    animation: slideDown 0.8s ease-out;
}


@keyframes slideDown {
    from { transform: translateY(-40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

nav {
    margin-top: 12px;
}

nav a {
    margin: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 3px;
    position: relative;
    transition: color 0.3s ease;
}


nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

nav a:hover {
    color: #dfefff;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #e8f1ff;
    animation: fadeUp 1s ease-out;
}

@keyframes fadeUp {
    from { transform: translateY(40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.btn {
    background: #004aad;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s ease;
    animation: pulse 2.2s infinite ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.btn:hover {
    background: #0062d9;
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 74, 173, 0.3);
}

.container {
    padding: 35px;
    width: 65%;
    margin: auto;
    animation: fadeIn 1.2s ease-in-out;
}

.form-box {
    background: #ffffff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    animation: fadeUp 0.9s ease-out;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 15px 0 25px;
    font-size: 16px;
    border: 1.5px solid #cbd4e1;
    border-radius: 6px;
    transition: 0.3s ease;
}

.form-box input:focus,
.form-box textarea:focus {
    border-color: #004aad;
    box-shadow: 0 0 6px rgba(0, 74, 173, 0.3);
    outline: none;
}

footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 50px;
    animation: fadeIn 2s ease;
}